sources/M2MNodeRed.json
[{"id":"88ef902d.fa00d8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"M2M","name":"test"},{"id":"222d950d.d206e2","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":""},{"id":"7df180c8.d668","type":"mqtt in","name":"MaTemperatureC","topic":"temperature","broker":"222d950d.d206e2","x":85,"y":103,"z":"ee905850.0afca8","wires":[["4515d3ff.9d0494"]]},{"id":"4cbb4e0e.ce4f3","type":"mongodb out","mongodb":"88ef902d.fa00d8","name":"TEST0","collection":"galileo","payonly":false,"operation":"insert","x":658,"y":112,"z":"ee905850.0afca8","wires":[]},{"id":"4515d3ff.9d0494","type":"change","action":"delete","property":"qos","from":"","to":"getDate()","reg":false,"name":"moins qos","x":426,"y":119,"z":"ee905850.0afca8","wires":[["33f56a90.ba8fde"]]},{"id":"34fc25d3.23cd6a","type":"mqtt in","name":"PresenceFumeeC","topic":"fumee","broker":"222d950d.d206e2","x":109,"y":176,"z":"ee905850.0afca8","wires":[["4515d3ff.9d0494"]]},{"id":"16217e45.0d799a","type":"mqtt in","name":"Incendie_OH","topic":"feu","broker":"222d950d.d206e2","x":114,"y":40,"z":"ee905850.0afca8","wires":[["4515d3ff.9d0494"]]},{"id":"22efb749.e8008","type":"function","name":"ajoutTimestamp","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n console.log(msg.payload);\nvar d = new Date();\nvar n = d.getTime();\n\n msg.timestamp=n;\n\nreturn msg;","outputs":1,"x":479,"y":365,"z":"ee905850.0afca8","wires":[["4cbb4e0e.ce4f3"]]},{"id":"33f56a90.ba8fde","type":"change","action":"delete","property":"retain","from":"","to":"getDate()","reg":false,"name":"moins retain","x":422,"y":182,"z":"ee905850.0afca8","wires":[["a836b744.ceb2c"]]},{"id":"a836b744.ceb2c","type":"change","action":"replace","property":"timestamp","from":"","to":"","reg":false,"name":"ajoutTimestamp","x":412,"y":267,"z":"ee905850.0afca8","wires":[["22efb749.e8008"]]},{"id":"ea82b75b.c19f","type":"mqtt in","name":"PresenceC","topic":"presence","broker":"222d950d.d206e2","x":102,"y":249,"z":"ee905850.0afca8","wires":[["4515d3ff.9d0494"]]}]